WebService paises monedas/xml-resources/web-service-references/webServiceT6/wsdl/localhost_8080/ServicioWebT4/webServiceT6.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tarea6/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tarea6/" name="webServiceT6">
<types>
<xsd:schema>
<xsd:import namespace="http://tarea6/" schemaLocation="http://localhost:8080/ServicioWebT4/webServiceT6?xsd=1"/>
</xsd:schema>
</types>
<message name="getMonedaByCodigo">
<part name="parameters" element="tns:getMonedaByCodigo"/>
</message>
<message name="getMonedaByCodigoResponse">
<part name="parameters" element="tns:getMonedaByCodigoResponse"/>
</message>
<message name="insertarDatos">
<part name="parameters" element="tns:insertarDatos"/>
</message>
<message name="insertarDatosResponse">
<part name="parameters" element="tns:insertarDatosResponse"/>
</message>
<message name="getMonedas">
<part name="parameters" element="tns:getMonedas"/>
</message>
<message name="getMonedasResponse">
<part name="parameters" element="tns:getMonedasResponse"/>
</message>
<message name="getZonaById">
<part name="parameters" element="tns:getZonaById"/>
</message>
<message name="getZonaByIdResponse">
<part name="parameters" element="tns:getZonaByIdResponse"/>
</message>
<message name="getPaisesZona">
<part name="parameters" element="tns:getPaisesZona"/>
</message>
<message name="getPaisesZonaResponse">
<part name="parameters" element="tns:getPaisesZonaResponse"/>
</message>
<message name="getPaisesMoneda">
<part name="parameters" element="tns:getPaisesMoneda"/>
</message>
<message name="getPaisesMonedaResponse">
<part name="parameters" element="tns:getPaisesMonedaResponse"/>
</message>
<message name="getPaises">
<part name="parameters" element="tns:getPaises"/>
</message>
<message name="getPaisesResponse">
<part name="parameters" element="tns:getPaisesResponse"/>
</message>
<message name="getZonas">
<part name="parameters" element="tns:getZonas"/>
</message>
<message name="getZonasResponse">
<part name="parameters" element="tns:getZonasResponse"/>
</message>
<portType name="webServiceT6">
<operation name="getMonedaByCodigo">
<input wsam:Action="http://tarea6/webServiceT6/getMonedaByCodigoRequest" message="tns:getMonedaByCodigo"/>
<output wsam:Action="http://tarea6/webServiceT6/getMonedaByCodigoResponse" message="tns:getMonedaByCodigoResponse"/>
</operation>
<operation name="insertarDatos">
<input wsam:Action="http://tarea6/webServiceT6/insertarDatosRequest" message="tns:insertarDatos"/>
<output wsam:Action="http://tarea6/webServiceT6/insertarDatosResponse" message="tns:insertarDatosResponse"/>
</operation>
<operation name="getMonedas">
<input wsam:Action="http://tarea6/webServiceT6/getMonedasRequest" message="tns:getMonedas"/>
<output wsam:Action="http://tarea6/webServiceT6/getMonedasResponse" message="tns:getMonedasResponse"/>
</operation>
<operation name="getZonaById">
<input wsam:Action="http://tarea6/webServiceT6/getZonaByIdRequest" message="tns:getZonaById"/>
<output wsam:Action="http://tarea6/webServiceT6/getZonaByIdResponse" message="tns:getZonaByIdResponse"/>
</operation>
<operation name="getPaisesZona">
<input wsam:Action="http://tarea6/webServiceT6/getPaisesZonaRequest" message="tns:getPaisesZona"/>
<output wsam:Action="http://tarea6/webServiceT6/getPaisesZonaResponse" message="tns:getPaisesZonaResponse"/>
</operation>
<operation name="getPaisesMoneda">
<input wsam:Action="http://tarea6/webServiceT6/getPaisesMonedaRequest" message="tns:getPaisesMoneda"/>
<output wsam:Action="http://tarea6/webServiceT6/getPaisesMonedaResponse" message="tns:getPaisesMonedaResponse"/>
</operation>
<operation name="getPaises">
<input wsam:Action="http://tarea6/webServiceT6/getPaisesRequest" message="tns:getPaises"/>
<output wsam:Action="http://tarea6/webServiceT6/getPaisesResponse" message="tns:getPaisesResponse"/>
</operation>
<operation name="getZonas">
<input wsam:Action="http://tarea6/webServiceT6/getZonasRequest" message="tns:getZonas"/>
<output wsam:Action="http://tarea6/webServiceT6/getZonasResponse" message="tns:getZonasResponse"/>
</operation>
</portType>
<binding name="webServiceT6PortBinding" type="tns:webServiceT6">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getMonedaByCodigo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarDatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMonedas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getZonaById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPaisesZona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPaisesMoneda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPaises">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getZonas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="webServiceT6">
<port name="webServiceT6Port" binding="tns:webServiceT6PortBinding">
<soap:address location="http://localhost:8080/ServicioWebT4/webServiceT6"/>
</port>
</service>
</definitions>